In [9]:
def tokenize(the_list, idx):
    for i in range(0,len(the_list)):
        the_list[i][idx] = the_list[i][idx].replace('\n', ' ')
        the_list[i][idx] = the_list[i][idx].replace(';', ' ; ')
        the_list[i][idx] = the_list[i][idx].replace(',', ' , ')
        the_list[i][idx] = the_list[i][idx].replace('.', ' . ')
        the_list[i][idx] = the_list[i][idx].replace('"', '')
        the_list[i][idx] = the_list[i][idx].replace('«', '')
        the_list[i][idx] = the_list[i][idx].replace('»', '')
        the_list[i][idx] = the_list[i][idx].replace(')', ' ) ')
        the_list[i][idx] = the_list[i][idx].replace('(', ' ( ')
        the_list[i][idx] = the_list[i][idx].replace('  ', ' ')
        the_list[i][idx] = the_list[i][idx].replace('   ', ' ')
        the_list[i][idx] = the_list[i][idx].replace('    ', ' ')

## imports

In [1]:
import pandas as pd
import os
import json

## files reading

In [2]:
dir_path = 'DATASETS/rbc'

In [3]:
file_pathes = []
for top, dirs, files in os.walk(dir_path):
    for nm in files:
        file_pathes.append(os.path.join(top, nm))

In [4]:
files = []
for i in range(0, len(file_pathes)):
    if os.path.splitext(file_pathes[i])[1] == '.json':
        #files.append(os.path.basename(file_pathes[i]))
        files.append(file_pathes[i])
len(files)

2185

## data reading

In [5]:
%%time
the_list = []
for file in files:
    raw_data = []
    for line in open(file, 'r', encoding='utf-8'):
        raw_data.append(json.loads(line))
        all_texts = []
        all_titles = []
        all_ids = []
        for d in raw_data:
            for k, v in d.items():
                if k == 'Paragraphs':
                    all_texts.append(v)
                if k == 'Header':
                    all_titles.append(v)
                if k == 'Id':
                    all_ids.append(v)
        
        for i in range(0, len(all_texts)):
            the_list.append([all_texts[i], all_titles[i], all_ids[i]])

Wall time: 22.3 s

In [6]:
len(the_list)

2185

In [7]:
the_list = the_list[1:]

In [8]:
for i in range(0, len(the_list)):
    the_list[i][0] = ' '.join(the_list[i][0])

In [10]:
%%time
tokenize(the_list, idx = 0)

Wall time: 136 ms

## raw data in df

In [11]:
df = pd.DataFrame(the_list, columns=['Text', 'Title', 'id'])

In [12]:
df.head()

,Text,Title,id
0,Федеральное налоговое ведомство США по итогам ...,Компанию Coca-Cola обвинили в неуплате налогов...,55fcbbcf9a7947804181c2bc
1,Приволжское следственное управление на транспо...,Два уголовных дела возбуждены по факту неуплат...,56c1b3049a79477d0605a808
2,"Уголовное дело , фигурантом которого был генер...",Уголовное дело против главы СУ-155 прекратили ...,56c5aec19a79479c62a688fc
3,Московская налоговая инспекция проводит новую ...,СМИ сообщили о новой проверке о неуплате налог...,56c68ab19a79475ef96ee710
4,Российское следствие объявило украинского бизн...,Украинского бизнесмена объявили в розыск из-за...,570e606f9a7947b8ace4ae94

## get only unique values in df

In [13]:
len(pd.unique(df['id']))

2090

In [14]:
df_unique = df.drop_duplicates()

In [15]:
len(df_unique)

2091

In [16]:
df_unique.head()

,Text,Title,id
0,Федеральное налоговое ведомство США по итогам ...,Компанию Coca-Cola обвинили в неуплате налогов...,55fcbbcf9a7947804181c2bc
1,Приволжское следственное управление на транспо...,Два уголовных дела возбуждены по факту неуплат...,56c1b3049a79477d0605a808
2,"Уголовное дело , фигурантом которого был генер...",Уголовное дело против главы СУ-155 прекратили ...,56c5aec19a79479c62a688fc
3,Московская налоговая инспекция проводит новую ...,СМИ сообщили о новой проверке о неуплате налог...,56c68ab19a79475ef96ee710
4,Российское следствие объявило украинского бизн...,Украинского бизнесмена объявили в розыск из-за...,570e606f9a7947b8ace4ae94

In [37]:
df_unique.to_csv('RBC_corpus.csv')

## df with texts only

In [17]:
df_to_tag = df_unique['Text']

In [27]:
type(df_to_tag[0])
#len(df_to_tag)

str

In [33]:
the_list[0][0]

'Федеральное налоговое ведомство США по итогам аудита обвинило американскую корпорацию Coca-Cola в неуплате налогов на $3 , 3 млрд с 2007 по 2009 годы , сообщает Bloomberg . Пока ведомство не предложило наложить на гиганта рынка штраф . Компания в свою очередь отвергла обвинения и заявила , что намерена искать справедливости в суде . Мы планируем воспользоваться административными и правовыми средствами , которые необходимы для решения вопроса , — говорится в официальном сообщении Coca-Cola . Пресс-служба корпорации подчеркивает , что в течение почти 30 лет следует одной и той же методологии при определении облагаемой налогами части доходов . '

## test tsv for toloka :(

In [42]:
f = open('RBC_onlytexts_10_for_learning.tsv', 'w', encoding='utf-8')
f.write('INPUT:query')
f.write('\n')
for i in range(0, 10):
    #f.write(df_to_tag[i])
    f.write(the_list[i][0])
    f.write('\n')
    f.write('\n')
    f.write('\n')
f.close()

In [43]:
f = open('RBC_onlytexts_100_for_pool_with_honeypots.tsv', 'w', encoding='utf-8')
f.write('INPUT:query')
f.write('\n')
for i in range(0, 100):
    #f.write(df_to_tag[i])
    f.write(the_list[i][0])
    f.write('\n')
    f.write('\n')
    f.write('\n')
f.close()