# RIA corpuses opening

In [5]:
# json opening

In [1]:
import pandas as pd
import os
import json

In [2]:
raw_data = []
for line in open('ria_1k.json', 'r', encoding='utf-8'): ## use "ria_20.json" to open a small one
    raw_data.append(json.loads(line))

In [ ]:
all_texts = []
all_titles = []
for d in raw_data:
    for k, v in d.items():
        print('key: ', k)
        print('value: ', v)
        if k == 'text':
            all_texts.append(v)
        if k == 'title':
            all_titles.append(v)

In [ ]:
the_list = []
for i in range(0, len(all_texts)):
    the_list.append([all_texts[i], all_titles[i]])
the_list[0]

### delete undesirable elements

\n
<...>
&mdash
&nbsp

In [8]:
import re

In [21]:
for i in range(0,len(the_list)):
    the_list[i][0] = re.sub('<.*?>', '', the_list[i][0])
    the_list[i][0] = the_list[i][0].replace('\n', ' ')
    the_list[i][0] = the_list[i][0].replace('&mdash', ' ')
    the_list[i][0] = the_list[i][0].replace('&nbsp', ' ')
    the_list[i][0] = the_list[i][0].replace(';', ' ')
    the_list[i][0] = the_list[i][0].replace(',', ' , ')
    the_list[i][0] = the_list[i][0].replace('.', ' . ')
    the_list[i][0] = the_list[i][0].replace('"', ' " ')
    the_list[i][0] = the_list[i][0].replace(')', ' ) ')
    the_list[i][0] = the_list[i][0].replace('(', ' ( ')
    the_list[i][0] = the_list[i][0].replace('  ', ' ')
    the_list[i][0] = the_list[i][0].replace('   ', ' ')
    the_list[i][0] = the_list[i][0].replace('    ', ' ') #ну да, я не стала заморачиваться

### construct the dataframe and save results as csv

In [12]:
df = pd.DataFrame(the_list, columns=['text', 'title'])
df.head()

,text,title
0,автор мария балябина на украине уволили уже б...,украинская люстрация: жертвоприношение во власти
1,"москва, 2 дек риа новости. цена на нефть марк...",цена на нефть марки brent поднялась выше $73 з...
2,"бангкок, 2 дек риа новости. число россиян, по...",число пострадавших в аварии в таиланде россиян...
3,"москва, 2 дек риа новости. строительство детс...",собянин открыл детсад в хорошево-мневниках в м...
4,"москва, 2 декабря - риа новости. группа компа...","""ташир"" построит в москве перинатально-кардиол..."

In [ ]:
df.to_csv('ria_1k.csv') ## 'ria_20.csv'